.titles {
    color: rgb(255, 255, 255);
    background-color: #57008a;
    text-align: center;
    font-weight: bold;
    font-family: Garamond, Arial, Georgia;
}

.list {
    color: rgb(0, 205, 241);
    
}

.pancake {
    color: red
}

.ingredients {
    background-color: rgba(185, 15, 15, 0.062);
    font-size: 20px;
    margin: 0px auto 0px auto;
    display: inline-table;
    padding: 5px;
}

#salt {
    font-weight: bold;
}

.button {
    background-color: white;
    color: black;
    font-size: 28px;
    font-weight: bold;
    font-family: "Times New Roman", Arial;
}